  <nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top justify-content-between">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse dual-nav w-100 order-1 order-md-0">
        <ul class="navbar-nav">
          <li class="nav-item{{ifCond req.url '==' '/'}} active{{/ifCond}}">
            {{#if req.user}}
            <a class="nav-link" href="/dashboard">Home</a>
            {{else}}
            <a class="nav-link" href="/">Home</a>
            {{/if}}
          </li>
          <li class="nav-item{{ifCond req.url '==' '/vis'}} active{{/ifCond}}">
            <a class="nav-link" href="/vis">Graph</a>
          </li>
          <li class="nav-item{{ifCond req.url '==' '/nodes'}} active{{/ifCond}}">
            <a class="nav-link" href="/nodes">Nodes</a>
          </li>
          <li class="nav-item{{ifCond req.url '==' '/edges'}} active{{/ifCond}}">
            <a class="nav-link" href="/edges">Edges</a>
          </li>
          {{ifCond req.user.role '==' 'admin'}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/users">Users</a>
              <a class="dropdown-item" href="/nodetypes">Node-Types</a>
              <a class="dropdown-item" href="/edgetypes">Edge-Types</a>
              <a class="dropdown-item" href="/dbdesign/index.html">DBdesign</a>
            </div>
          </li>
          {{/ifCond}}
        </ul>
      </div>
      <span class="navbar-brand mx-auto d-block text-warning text-center order-0 order-md-1 w-50"><small>{{context.title}}</small></span>
      <div class="navbar-collapse collapse dual-nav w-100 order-2">
        <ul class="nav navbar-nav ml-auto">
          {{#if req.user}}
          <li class="nav-item navbar-text px-2">Logged in as {{req.user.email}}</li>
          {{/if}}
          <li class="nav-item">
          {{#if req.user}}
            <a href="/logout"><button class="btn btn-success">Logout</button></a>
          {{else}}
            {{ifCond req.url '!=' '/'}}
            <a href="/"><button class="btn btn-success">Login</button></a>
            {{/ifCond}}
          {{/if}}
          </li>
        </ul>
      </div>
    </div>
  </nav>

