<div class="{{mode}}-form modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{mode}} Node</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/nodes/{{mode}}">
          {{ifCond mode '==' 'update'}}
          <input type="hidden" name="nodeId" class="nodeId-{{mode}}">
          <input type="hidden" name="contributor" class="contributor-{{mode}}">
          {{/ifCond}}
          <fieldset class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control name-{{mode}}" required>
          </fieldset>
          <fieldset class="form-group">
            <label for="otherName">Other Name</label>
            <input type="text" name="otherName" class="form-control otherName-{{mode}}">
          </fieldset>
          <fieldset class="form-row">
            <fieldset class="form-group col-md-8">
              <label for="fromDate">From</label>
              <input type="date" name="fromDate" class="form-control fromDate-{{mode}}">
            </fieldset>
            <fieldset class="form-group col-md-4">
              <label for="fromDateEra">Era</label>
              <select name="fromDateEra" class="form-control fromDateEra-{{mode}}">
                <option value="AD">AD</option>
                <option value="BC">BC</option>
              </select>
            </fieldset>
          </fieldset>
          <fieldset class="form-row">
            <fieldset class="form-group col-md-8">
              <label for="toDate">To</label>
              <input type="date" name="toDate" class="form-control toDate-{{mode}}">
            </fieldset>
            <fieldset class="form-group col-md-4">
              <label for="toDateEra">Era</label>
              <select name="toDateEra" class="form-control toDateEra-{{mode}}">
                <option value="AD">AD</option>
                <option value="BC">BC</option>
              </select>
            </fieldset>
          </fieldset>
          <fieldset class="form-group">
            <label for="typeId">Group</label>
            <select name="typeId" class="form-control typeId-{{mode}}" required>
              <option value="" selected hidden>Select Node-Type</option>
              {{#each nodetypes}}
                <option value="{{this.nodeTypeId}}">{{this.name}}</option>
              {{/each}}
            </select>
          </fieldset>
          <fieldset class="form-group">
            <label for="link">Link</label>
            <input type="url" name="link" class="form-control link-{{mode}}">
          </fieldset>
          <fieldset class="form-check"{{ifCond req.user.role '==' 'user'}} disabled{{/ifCond}}>
            <input type="checkbox" name="checked" class="form-check-input checked-{{mode}}">
            <label class="form-check-label" for="checked">Approved</label>
          </fieldset>
          {{ifCond mode '==' 'update'}}
          <button type="submit" class="btn btn-success btn-block">Update</button>
          {{/ifCond}}
          {{ifCond mode '==' 'add'}}
          <button type="submit" class="btn btn-success btn-block">Add</button>
          {{/ifCond}}
        </form>
        {{ifCond mode '==' 'add'}}
        <button class="discard-{{mode}} btn btn-secondary btn-block btn-discard">Discard</button>
        {{/ifCond}}
        {{ifCond mode '==' 'update'}}
          {{ifCond req.user.role '==' 'admin'}}
          <a class="delete-{{mode}}" href="/nodes/delete?nodeId=#"><button class="btn btn-danger btn-block btn-delete">Delete</button></a>
          {{/ifCond}}
        {{/ifCond}}
      </div>

    </div>
  </div>
</div>
