  <div class="container-fluid">
    <div class="table-responsive text-left">
      <table class="node2edgeTable table table-sm table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Node</th>
            <th>Relation</th>
            <th>Created</th>
            <th>Modified</th>
            {{#ifCond req.user.role '==' 'admin'}}<th></th>{{/ifCond}}
          </tr>
        </thead>
        <tbody>
        {{#each node2edge}}
          <tr>
            <td>{{this.nodetype.name}}</td>
            <td>{{this.edgetype.name}}</td>
            <td>{{dateToLocale this.createdAt}}</td>
            <td>{{dateToLocale this.updatedAt}}</td>
            {{#ifCond req.user.role '==' 'admin'}}<td><a href="/node2edge/delete?nodeTypeId={{this.nodetypeNodeTypeId}}&edgeTypeId={{this.edgetypeEdgeTypeId}}"><button class="btn-sm btn-danger">Delete</button></a></td>{{/ifCond}}
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
