<div class="{{mode}}-form modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{mode}} Nodetype</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form method="post" action="/nodetypes/{{mode}}">
          {{#ifCond mode '==' 'update'}}
          <input type="hidden" name="nodeTypeId" class="nodeTypeId-{{mode}}">
          {{/ifCond}}
          <fieldset class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control name-{{mode}}" required>
          </fieldset>
          <fieldset class="form-group">
            <label for="description">Description</label>
            <textarea type="text" name="description" class="form-control description-{{mode}}"></textarea>
          </fieldset>
          {{#ifCond mode '==' 'update'}}
          <button type="submit" class="btn btn-success btn-block">Update</button>
          {{/ifCond}}
          {{#ifCond mode '==' 'add'}}
          <button type="submit" class="btn btn-success btn-block">Add</button>
          {{/ifCond}}
        </form>
        {{#ifCond mode '==' 'add'}}
        <button class="discard-{{mode}} btn btn-secondary btn-block btn-discard">Discard</button>
        {{/ifCond}}
        {{#ifCond mode '==' 'update'}}
          {{#ifCond req.user.role '==' 'admin'}}
          <a class="delete-{{mode}}" href="/nodetypes/delete?nodeTypeId=#"><button class="btn btn-danger btn-block btn-delete">Delete</button></a>
          {{/ifCond}}
        {{/ifCond}}
      </div>

    </div>
  </div>
</div>
